// Set of variables colors
$white: #fff;
$light-blue: #464e90;
$dark-blue: #314584;
$light-red: #ff4359;
$light-grey: #81828b;
$light-grey-2: #928e9b;
$light-white: #f5f0fe;

// Set of transitions
$transition: .4s;
$transition-2: all .4s ease-in-out;
$transition-3: all .4s ease;

// Set of fonts
$weight500: 500;
$weight600: 500;

// Set of paddings
$padding: 6.25rem;

// Set of box shadows
$box-shadow: .175rem .175rem .175rem .125rem rgb(0 0 0 / 20%);

